@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* font-family: 'Open Sans',
sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}

article {
  padding: 0 1em;
}

section {
  margin: 1em;
  padding: 1em;
}

header,
main,
footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url('../img/office-865091_1920.jpg');
  background-size: cover;
  background-position: top 180% right 50%;
  background-attachment: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

main section:not(:last-child) {
  border-bottom: 1px solid gray;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

header h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}


section h3 {
  font-weight: bold;
  text-transform: uppercase;
}

article div.title {
  font-weight: bold;
  text-transform: uppercase;
  color: #509e98;

}

article {
  padding: 20px 0;
}

.course {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  flex-shrink: 0;
  flex-basis: 33%;
}

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .knowledge {
  flex-shrink: 0;
  flex-basis: 50%;
}

.course .descrition {
  flex-shrink: 0;
  flex-basis: 66%;
}

.school span {
  color: #A7B8BF;
}

footer {
  text-align: right;
  padding: 1em;
  background-color: black;
  color: white;
  list-style-type: none;
}

a {
  color: rgb(193, 230, 30);
  transition: .4s;
}

a:hover {
  opacity: 0.6;
}