@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Andika New Basic',
sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.8rem;
  font-family: 'Andika New Basic', sans-serif;
}

article {
  padding: 0 1em;
}

section {
  margin: 1em;
  padding: 1em;
  transition: 1s;
}

header,
main,
footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url('../img/office-865091_1920.jpg');
  /* background-size: center; */
  background-position: top 110% right 45%;
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  color: rgb(171, 209, 1);
  opacity: 0.9;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}


header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
}

header h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

header a i {
  transition: .5s;
}

header a:hover i {
  transform: scale(1.5);
  color: rgb(193, 230, 30);
}

header a i {
  margin-top: 20px;
  margin-left: 15px;
  padding: 7px;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid gray;
}

section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(171, 209, 1);
}

article div.title {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(171, 209, 1);
  padding-left: 10px;

}

article {
  padding: 20px 0;
}

.course {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
}

.course .title {
  flex-shrink: 0;
  flex-basis: 33%;
}

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .knowledge {
  flex-shrink: 0;
  flex-basis: 50%;
}

.course .descrition {
  flex-shrink: 0;
  flex-basis: 66%;
}

footer {
  text-align: right;
  padding: 1em;
  background-color: black;
  color: white;
  list-style-type: none;
}

a {
  color: rgb(171, 209, 1);
  transition: .4s;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

ul {
  margin: 0;
  list-style: none;
}

li:before {
  content: "";
  border-color: transparent rgb(171, 209, 1);
  border-style: solid;
  border-width: 0.4em 0 0.4em 0.7em;
  display: block;
  height: 0;
  width: 0;
  left: -1.5em;
  top: 1.2em;
  position: relative;
}

li {
  padding-left: 5rem;
}

span {
  color: rgb(171, 209, 1);
  padding-right: 10px;
  font-style: italic;
  letter-spacing: 1px;
}

section:nth-of-type(3)>article,
section:nth-of-type(4)>article {
  padding-left: 30px;
}

section.edu {
  transform: translateX(-100vw);
}

section.skill,
section.exp {
  transform: translateX(100vw);
}

section.exp {
  transform: scale(0);
}

section.skill.active,
section.edu.active {
  transform: translateX(0);
}

section.exp.active {
  transform: scale(1);
}